In [1]:
import pandas as pd

In [2]:
# Load datasets
input_cv = pd.read_csv("/Users/jingyichen/machinelearning/a-mimic/mimic-iii-clinical-database-1.4/INPUTEVENTS_CV.csv")
print(input_cv.head())
print(input_cv.columns)

/var/folders/53/6crmwf7n2qdc3x2w_rbsrvf40000gn/T/ipykernel_2071/2425946272.py:2: DtypeWarning: Columns (7,9,17,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  input_cv = pd.read_csv("/Users/jingyichen/machinelearning/a-mimic/mimic-iii-clinical-database-1.4/INPUTEVENTS_CV.csv")

   ROW_ID  SUBJECT_ID   HADM_ID  ICUSTAY_ID            CHARTTIME  ITEMID  \
0     592       24457  184834.0    205776.0  2193-09-11 09:00:00   30056
1     593       24457  184834.0    205776.0  2193-09-11 12:00:00   30056
2     594       24457  184834.0    205776.0  2193-09-11 16:00:00   30056
3     595       24457  184834.0    205776.0  2193-09-11 19:00:00   30056
4     596       24457  184834.0    205776.0  2193-09-11 21:00:00   30056

   AMOUNT AMOUNTUOM  RATE RATEUOM  ...  ORDERID  LINKORDERID  STOPPED  \
0   100.0        ml   NaN     NaN  ...   756654      9359133      NaN
1   200.0        ml   NaN     NaN  ...  3564075      9359133      NaN
2   160.0        ml   NaN     NaN  ...   422646      9359133      NaN
3   240.0        ml   NaN     NaN  ...  5137889      9359133      NaN
4    50.0        ml   NaN     NaN  ...  8343792      9359133      NaN

   NEWBOTTLE ORIGINALAMOUNT  ORIGINALAMOUNTUOM  ORIGINALROUTE ORIGINALRATE  \
0        NaN            NaN                 ml           Oral          NaN
1        NaN            NaN                 ml           Oral          NaN
2        NaN            NaN                 ml           Oral          NaN
3        NaN            NaN                 ml           Oral          NaN
4        NaN            NaN                 ml           Oral          NaN

  ORIGINALRATEUOM  ORIGINALSITE
0             NaN           NaN
1             NaN           NaN
2             NaN           NaN
3             NaN           NaN
4             NaN           NaN

[5 rows x 22 columns]
Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'CHARTTIME', 'ITEMID',
       'AMOUNT', 'AMOUNTUOM', 'RATE', 'RATEUOM', 'STORETIME', 'CGID',
       'ORDERID', 'LINKORDERID', 'STOPPED', 'NEWBOTTLE', 'ORIGINALAMOUNT',
       'ORIGINALAMOUNTUOM', 'ORIGINALROUTE', 'ORIGINALRATE', 'ORIGINALRATEUOM',
       'ORIGINALSITE'],
      dtype='object')

In [3]:
input_cv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17527935 entries, 0 to 17527934
Data columns (total 22 columns):
 #   Column             Dtype
---  ------             -----
 0   ROW_ID             int64
 1   SUBJECT_ID         int64
 2   HADM_ID            float64
 3   ICUSTAY_ID         float64
 4   CHARTTIME          object
 5   ITEMID             int64
 6   AMOUNT             float64
 7   AMOUNTUOM          object
 8   RATE               float64
 9   RATEUOM            object
 10  STORETIME          object
 11  CGID               float64
 12  ORDERID            int64
 13  LINKORDERID        int64
 14  STOPPED            object
 15  NEWBOTTLE          float64
 16  ORIGINALAMOUNT     float64
 17  ORIGINALAMOUNTUOM  object
 18  ORIGINALROUTE      object
 19  ORIGINALRATE       float64
 20  ORIGINALRATEUOM    object
 21  ORIGINALSITE       object
dtypes: float64(8), int64(5), object(9)
memory usage: 2.9+ GB

In [5]:
input_mv = pd.read_csv("/Users/jingyichen/machinelearning/a-mimic/mimic-iii-clinical-database-1.4/INPUTEVENTS_MV.csv")
input_mv.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTTIME,ENDTIME,ITEMID,AMOUNT,AMOUNTUOM,RATE,...,TOTALAMOUNTUOM,ISOPENBAG,CONTINUEINNEXTDEPT,CANCELREASON,STATUSDESCRIPTION,COMMENTS_EDITEDBY,COMMENTS_CANCELEDBY,COMMENTS_DATE,ORIGINALAMOUNT,ORIGINALRATE
0,241,27063,139787,223259.0,2133-02-05 06:29:00,2133-02-05 08:45:00,225166,6.774532,mEq,NaN,...,ml,0,0,1,Rewritten,NaN,RN,2133-02-05 12:52:00,10.000000,0.050000
1,242,27063,139787,223259.0,2133-02-05 05:34:00,2133-02-05 06:30:00,225944,28.132997,ml,30.142497,...,ml,0,0,0,FinishedRunning,NaN,NaN,NaN,28.132998,30.255817
2,243,27063,139787,223259.0,2133-02-05 05:34:00,2133-02-05 06:30:00,225166,2.813300,mEq,NaN,...,ml,0,0,0,FinishedRunning,NaN,NaN,NaN,2.813300,0.050426
3,244,27063,139787,223259.0,2133-02-03 12:00:00,2133-02-03 12:01:00,225893,1.000000,dose,NaN,...,ml,0,0,2,Rewritten,RN,NaN,2133-02-03 17:06:00,1.000000,1.000000
4,245,27063,139787,223259.0,2133-02-03 12:00:00,2133-02-03 12:01:00,220949,100.000000,ml,NaN,...,ml,0,0,2,Rewritten,RN,NaN,2133-02-03 17:06:00,100.000000,0.000000

In [6]:
# Load datasets
icustays = pd.read_csv("/Users/jingyichen/machinelearning/a-mimic/mimic-iii-clinical-database-1.4/ICUSTAYS.csv")
d_items = pd.read_csv("/Users/jingyichen/machinelearning/a-mimic/mimic-iii-clinical-database-1.4/D_ITEMS.csv")

In [7]:
# List of key drug names to find in both datasets
drug_names = ['Norepinephrine', "Levophed", 'Epinephrine', "Epinephrine-k", 'Dopamine', 'Phenylephrine', 'Vasopressin']

# Filter the D_ITEMS dataframe to get ITEMIDs for these drug names
drug_items = d_items[d_items['LABEL'].isin(drug_names)]
drug_items

,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
2661,2115,5329,Dopamine,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
3188,3557,2445,Vasopressin,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
4442,5133,30119,Epinephrine-k,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN
4901,5106,30043,Dopamine,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN
5792,5365,30044,Epinephrine,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN
5794,5367,30047,Levophed,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN
5797,5370,30051,Vasopressin,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN
8879,12960,221289,Epinephrine,Epinephrine,metavision,inputevents_mv,Medications,mg,Solution,NaN
8891,12972,221662,Dopamine,Dopamine,metavision,inputevents_mv,Medications,mg,Solution,NaN
9547,12978,221749,Phenylephrine,Phenylephrine,metavision,inputevents_mv,Medications,mg,Solution,NaN
9553,12984,221906,Norepinephrine,Norepinephrine,metavision,inputevents_mv,Medications,mg,Solution,NaN
9566,12997,222315,Vasopressin,Vasopressin,metavision,inputevents_mv,Medications,units,Solution,NaN

In [8]:
vasopressor_cv = [30043, 30044, 30051, 30047, 30119] 
# filter the INPUTEVENTS_CV dataset for these ITEMIDs
vasopressor_cv_data = input_cv[input_cv['ITEMID'].isin(vasopressor_cv)]

vasopressor_cv_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 444602 entries, 8676800 to 17527423
Data columns (total 22 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ROW_ID             444602 non-null  int64
 1   SUBJECT_ID         444602 non-null  int64
 2   HADM_ID            442917 non-null  float64
 3   ICUSTAY_ID         443304 non-null  float64
 4   CHARTTIME          444602 non-null  object
 5   ITEMID             444602 non-null  int64
 6   AMOUNT             167759 non-null  float64
 7   AMOUNTUOM          169373 non-null  object
 8   RATE               273173 non-null  float64
 9   RATEUOM            275223 non-null  object
 10  STORETIME          444602 non-null  object
 11  CGID               416661 non-null  float64
 12  ORDERID            444602 non-null  int64
 13  LINKORDERID        444602 non-null  int64
 14  STOPPED            9052 non-null    object
 15  NEWBOTTLE          3405 non-null    float64
 16  ORIGINALAMOUNT     169151 non-null  float64
 17  ORIGINALAMOUNTUOM  169151 non-null  object
 18  ORIGINALROUTE      444374 non-null  object
 19  ORIGINALRATE       78390 non-null   float64
 20  ORIGINALRATEUOM    79151 non-null   object
 21  ORIGINALSITE       787 non-null     object
dtypes: float64(8), int64(5), object(9)
memory usage: 78.0+ MB

In [10]:
# Filter the vasopressor_cv_data to include only relevant columns
vasopressor_cv_data = vasopressor_cv_data[['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID']].copy()
vasopressor_cv_data['VASOPRESSOR_USE'] = 1

vasopressor_cv_data.info()
vasopressor_cv_data.head()

<class 'pandas.core.frame.DataFrame'>
Index: 444602 entries, 8676800 to 17527423
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   SUBJECT_ID       444602 non-null  int64
 1   HADM_ID          442917 non-null  float64
 2   ICUSTAY_ID       443304 non-null  float64
 3   VASOPRESSOR_USE  444602 non-null  int64
dtypes: float64(2), int64(2)
memory usage: 17.0 MB

         SUBJECT_ID   HADM_ID  ICUSTAY_ID  VASOPRESSOR_USE
8676800        7605  107327.0    276732.0                1
8676817        7605  107327.0    276732.0                1
8676828         590  172260.0    258414.0                1
8676831         590  172260.0    258414.0                1
8676832       17680  114829.0    210436.0                1

In [11]:
# Remove duplicates
vasopressor_cv_flag = vasopressor_cv_data.drop_duplicates(subset=['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID'])

vasopressor_cv_flag.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4439 entries, 8676800 to 17489963
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SUBJECT_ID       4439 non-null   int64
 1   HADM_ID          4359 non-null   float64
 2   ICUSTAY_ID       4408 non-null   float64
 3   VASOPRESSOR_USE  4439 non-null   int64
dtypes: float64(2), int64(2)
memory usage: 173.4 KB

In [12]:
# filter the INPUTEVENTS_MV dataset for these ITEMIDs
vasopressor_mv = [221662, 221289, 222315, 221906, 221749]

vasopressor_mv_data = input_mv[input_mv['ITEMID'].isin(vasopressor_mv)]

# Add flag for vasopressor use
vasopressor_mv_data = vasopressor_mv_data[['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID']].copy()
vasopressor_mv_data['VASOPRESSOR_USE'] = 1

# drop duplicates
vasopressor_mv_flag = vasopressor_mv_data.drop_duplicates(subset=['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID'])

vasopressor_mv_flag.head()

      SUBJECT_ID  HADM_ID  ICUSTAY_ID  VASOPRESSOR_USE
170        27063   139787    223259.0                1
646        29056   163573    228281.0                1
1309        5244   190705    233085.0                1
1916       16554   140652    253994.0                1
2077       29202   168066    217863.0                1

In [13]:
vasopressor_all = pd.concat([vasopressor_mv_flag, vasopressor_cv_flag], axis=0)

vasopressor_all.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11488 entries, 170 to 17489963
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SUBJECT_ID       11488 non-null  int64
 1   HADM_ID          11408 non-null  float64
 2   ICUSTAY_ID       11454 non-null  float64
 3   VASOPRESSOR_USE  11488 non-null  int64
dtypes: float64(2), int64(2)
memory usage: 448.8 KB

In [14]:
# Keep only the relevant columns from icustays
icustays_core = icustays[['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID']].copy()

# Left join to add vasopressor use flag to icustays
icustays_with_vaso = icustays_core.merge(
    vasopressor_all,
    on=['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID'],
    how='left'
)

# Fill NaN values in VASOPRESSOR_USE with 0
icustays_with_vaso['VASOPRESSOR_USE'] = icustays_with_vaso['VASOPRESSOR_USE'].fillna(0).astype(int)


icustays_with_vaso.head()

   SUBJECT_ID  HADM_ID  ICUSTAY_ID  VASOPRESSOR_USE
0         268   110404      280836                1
1         269   106296      206613                0
2         270   188028      220345                0
3         271   173727      249196                0
4         272   164716      210407                0

In [20]:
icustays_with_vaso.to_csv("/Users/jingyichen/Desktop/vasopressor_flagged_icustays.csv", index=False)